/* Estrutural */
body {
    background:#f1f2f6;
}

/* Navegação */

nav {
    background: black;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6c00;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}




#home {
    background: #ff6c00;
}

footer {
    background: black;
}
footer p a {
    color: white;
    font-size: 20px;
    margin: 5px;
}
footer p a:hover {
    color: #ff6c00;
    text-decoration: none;
}

.caixa-home {
    padding: 60px 0;
}

/* Configuraçoes comum */

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #747d8c;
}
.caixa-basica {
    padding: 60px 0;
}
.botao {
    background: black;
    color: white;
}
.botao:hover {
    color:black;
    background: white;
}
.black {
    color: black;
}
.white {
    color: white;
}
.align {
    text-align: center;
}





/* Pagina planos */

.tempo-pagamento {
    font-size: 46px;
}

.recursos {
    text-align: center; 
    font-size: 30px;
}
.direitos {
    font-size: 18px;
    color: white;
    text-align: center;
}
.borda {
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
    height: 500px;
    background: white;
}
.botao-assine {
    background: #ff6c00;
    color: black;
    border: none;
}
.botao-assine:hover {
    border: 1px solid black;
    background: white;
    color: black;
}
.botao-assine-trs {
    background: white;
    color: #ff6c00;
    border-color: #ff6c00;
    margin-top: 120px;
}
.botao-assine-trs:hover {
    background: #ff6c00;
    border: none;
    color: black;
}
.caixa-planos {
    padding-top: 120px;
    background-image: url(/img/253017866_1-4.jpg);
    height: 800px;
}
.botao-contact {
    border-color: black;
    color: black;
}
.botao-contact:hover {
    background: white;
    color: black;
}
.duvidas {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 35px; 
    margin-bottom: 50px; 
}


/* Pagina recursos */ 

.afastamento {
    margin-top: 100px;
} 



/* -------- Mediaqueries -------- */ 

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) { 
    .caixa-descricao {
        margin-left: 20px;
    }
    .caixa-descricao button {
        text-align: center;
        width: 450px;
    }
    .caixa-descricao h1 {
        font-size: 60px;
        text-align: center;
    }
    .redes {
        margin-right: 210px;
    }


    .btn-custom {
        margin: 10px 15px;
    }
 }
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}
/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
 
 }
/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { 

 }
        