

body {
    background:#f1f2f6;
}



nav {
    background: black;
}
.navegacao li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
.navegacao a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navegacao a:hover {
    color: #ff6c00;
}



#home {
    background: #ff6c00;
}



.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #747d8c;
}



footer {
    background: black;
}
footer p a {
    color: white;
    font-size: 20px;
    margin: 5px;
}
footer p a:hover {
    color: #ff6c00;
    text-decoration: none;
}


.botao {
    background: black;
    color: white;
}
.botao:hover {
    color:black;
    background: white;
}


.black {
    color: black;
}

.white {
    color: white;
}

.recursos {
    text-align: center; 
    font-size: 30px;
}

.direitos {
    font-size: 18px;
    color: white;
    text-align: center;
}

.align {
    text-align: center;
}

.borda {
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
    height: 500px;
    background: white;
}
 
.botao-assine {
    background: #ff6c00;
    color: black;
    border: none;
}
.botao-assine:hover {
    border: 1px solid black;
    background: white;
    color: black;
}

.botao-assine-trs {
    background: white;
    color: #ff6c00;
    border-color: #ff6c00;
    margin-top: 120px;
}
.botao-assine-trs:hover {
    background: #ff6c00;
    border: none;
    color: black;
}

.caixa-planos {
    padding: 60px 0;
    background-image: url(/img/253017866_1-4.jpg);
}

.caixa-basica {
    padding: 130px 0;
}


.botao-contact {
    border-color: black;
    color: black;
}
.botao-contact:hover {
    background: white;
    color: black;
}

        